# Terraform — dossiers de travail
aws_eks/.terraform/
aws_eks/.terraform.lock.hcl

# State — normalement sur S3 mais au cas où
aws_eks/*.tfstate
aws_eks/*.tfstate.backup
aws_eks/*.tfstate.lock.info

# Plans binaires
aws_eks/tfplan
aws_eks/*.tfplan
aws_eks/*.tfplan.json

# Variables sensibles
!aws_eks/*.tfvars.example

# Credentials
*.pem
*.key
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
